<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://mugonnanpadx.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mugonnanpadx.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mugonnanpadx</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mugonnanpadx</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mugonnanpadx.database.windows.net,1433;Initial Catalog=mugonnanpadx_db;User ID=mugonnanpadx@mugonnanpadx;Password=atlas-s00" Name="Data Source=tcp:mugonnanpadx.database.windows.net,1433;Initial Catalog=mugonnanpadx_db;User Id=mugonnanpadx@mugonnanpadx;Password=atlas-s00;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mugonnanpadx.Models.ApplicationDbContext, mugonnanpadx" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="mugonnanpadx.Models.MugonDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mugonnanpadx.database.windows.net,1433;Initial Catalog=mugonnanpadx_db;User ID=mugonnanpadx@mugonnanpadx;Password=atlas-s00" Name="Data Source=tcp:mugonnanpadx.database.windows.net,1433;Initial Catalog=mugonnanpadx_db;User Id=mugonnanpadx@mugonnanpadx;Password=atlas-s00;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="mugonnanpadx.Models.MugonDBContext, mugonnanpadx" MigrationConfiguration="mugonnanpadx.Migrations.Configuration, mugonnanpadx" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mugonnanpadx.database.windows.net,1433;Initial Catalog=mugonnanpadx_db;User Id=mugonnanpadx@mugonnanpadx;Password=atlas-s00;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mugonnanpadx.Models.MugonDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mugonnanpadx.database.windows.net,1433;Initial Catalog=mugonnanpadx_db;User Id=mugonnanpadx@mugonnanpadx;Password=atlas-s00;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="mugonnanpadx.Models.MugonDBContext" />
  </ItemGroup>
</Project>