
@{
    ViewBag.Title = "No...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>No……</h1>

<h2>またよろしくお願いします。</h2>


@if(@Html.Encode(TempData["YesNoCount"]) != null)
{
<p>


    Noが選択されたのは<h3>@Html.Encode(TempData["YesNoCount"])</h3>回目です。


</p>
}
<div>
    @Html.ActionLink("戻る", "Index")
</div>
