
@{
    ViewBag.Title = "No...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>No……</h1>

    <h3>またよろしくお願いします。</h3>


    @if(!string.IsNullOrWhiteSpace(@Html.Encode(TempData["YesNoCount"])))
    {
    <p>


        Noが選択されたのは<span style="font-size: 2em;">@Html.Encode(TempData["YesNoCount"])</span>回目です。


    </p>
    }
    <div>
        @Html.ActionLink("戻る", "Index", "Home","", new { @class = "btn btn-lg btn-warning" })
    </div>
</div>
