
@{
    ViewBag.Title = "Yes!!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">

    <h1>Yes!!!</h1>

    <h3>ありがとうございます。</h3>

    @if(!string.IsNullOrWhiteSpace(@Html.Encode(TempData["YesNoCount"])))
    {
    <p>


        Yesが選択されたのは<span style="font-size: 2em;">@Html.Encode(TempData["YesNoCount"])</span>回目です。


    </p>
    }

    <div>
        @Html.ActionLink("戻る", "Index", "Home","", new { @class = "btn btn-lg btn-success" })
    </div>
</div>